@charset "utf-8";

*{
	margin:0; 
	padding:0; 
	list-style:none; 
	text-decoration:none; 
	font-family:"맑은 고딕"; 
	font-size:14px;
	color:#333;
}
.cf:after{
	content:'';
	display: block;
	clear:both;
}
/* wireframe */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 100px;
	background: #aaa;
}
.slides{
	height: 300px;
	background: #bbb;
}
main{
	height: 200px;
	background: #ccc ;
} 
footer{
	height: 100px;
	background: #ddd;
}
/* header */
header .logo{
	width: 200px;
	background: #999;
	float: left;
	height: 100%;
}
header nav{
	width: 1000px;
	background: #888;
	float: right;
	height: 100%;
}
/* Main Contents */
main section{
	width: 400px;
	float:left;
	height: 100%;
}
main .notice{
	background: #777;
}
main .banner{
	background: #666;
}
main .quick_links{
	background: #555;
}
/* Footer */
footer div{
	float: left;
	height: 100%;
}
footer .logo{
	width: 200px;
	background: #444;
}
footer .copyright{
	width: 800px;	
	background: #333;
}
footer .sns{
	width: 200px;	
	background: #222;
}
/* Slides */
.slidewrapper{	
	overflow: hidden;	
	height: 300px;
}
.container{
	height:900px;	
}
.slide{	
	width: 1200px;
	height:300px;
}
