@charset "utf-8";

*{
	margin:0; 
	padding:0; 
	list-style:none; 
	text-decoration:none; 
	font-family:"맑은 고딕"; 
	font-size:14px;
	color:#333;
}
.cf:after{
	content:'';
	display: block;
	clear:both;
}
/* wireframe */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 100px;
	background: #aaa;
}
.slides{
	height: 300px;
	background: #bbb;
}
main {
    height: 200px;
    background: #fff;
    padding: 10px 0;
    box-sizing: border-box;
}
footer{
	height: 100px;
	background: #ddd;
}
/* header */
header .logo{
	width: 200px;
	background: #999;
	float: left;
	height: 100%;
}
header nav{
	width: 1000px;
	background: #888;
	float: right;
	height: 100%;
}
/* Main Contents */
main section{
	width: 396px;
	float:left;
	height: 100%;
	margin-right: 6px;
}
main section:last-child{
	margin-right: 0;
}
main .notice{
	background: #fff;
}
main .banner{
	background: #666;
}
main .quick_links{
	background: #555;
}

/* TAB */
.tabmenu {
	position: relative;
	z-index: 1;
	top: 1px;
}
.tabmenu li{
	float:left;
}
.tabmenu li a{
	display: block;
	padding: 5px 10px;
	border:1px solid #ccc;
	border-bottom:none;
	background: #ccc;
}
.tabmenu li.active a{
	background: #fff;
}
.tabcontent{
	padding: 10px;
	border:1px solid #ccc;
	position: relative;
	height: 150px;
	box-sizing: border-box;
}
.tabcontent > div{
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
.tabcontent > div.active{
	display: block;
}
#notice{
	padding: 0 10px;
}
#notice li{
	line-height: 30px;
}
#notice li span{
	float: right;
}
#notice li:nth-child(even){
	background: #ccc;
}
#notice li a:hover{
	font-weight: bold;
}
#gallery{
	padding: 15px;
}
#gallery ul li{
	float:left;
	margin-right: 35px;
}
#gallery ul li:last-child{
	margin-right: 0;
}
/* Footer */
footer div{
	float: left;
	height: 100%;
}
footer .logo{
	width: 200px;
	background: #444;
}
footer .copyright{
	width: 800px;	
	background: #333;
}
footer .sns{
	width: 200px;	
	background: #222;
}
