@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #fff;
    color:#333;
}
a{
    text-decoration: none;
    color: inherit;
}
.hidden{
    display: none;
}

/* Layout */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    display: flex;
    flex:1;
}
main > * {
    border:1px solid #ccc;
}
aside{
    width: 200px;
}
main .center{
    width: 400px;
}
main .slides{
    flex:1;
}

/* Aside */
aside{}
aside > *{
    border:1px solid #ccc;
}
aside header{
    height: 100px;
}
aside nav{
    height: 400px;
}
.spot-menu{
    height: 50px;
}
/* Slides */
.slides{}

/* Center */
.center > *{
    border:1px solid #ccc; 
}
.shortcut {
    height: 150px; /* 임시 */
}
/* News Gallery */
.news{
    height: 250px; /* 임시 */
}
.gallery{
    height: 250px; /* 임시 */
}

/* Footer */
footer{
    display: flex;
    height: 100px;
}
.footer-logo{
    width: 200px;
}
footer > *{
    border:1px solid #ccc;
}
.copyright{
    flex:1;
}
.sns{
    width: 230px;
}
