@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.hidden {
  display: none;
}

/* Layout */
main {
  display: flex;
}

main>* {
  border: 1px solid #ccc;
}

aside {
  width: 200px;
}

.main-content {
  flex: 1;
}

/* Aside */
aside>* {
  border: 1px solid #ccc;
}

aside header {
  height: 100px;
}

aside nav {
  height: 400px;
}

/* Slides */
.slide_wrapper {
  height: 400px;
}

.slide-image {
  border: 1px solid #ccc;
  height: 400px;
}

.slide-banner {
  height: 150px;
  border: 1px solid #ccc;
}

/* News Gallery */
.news-gallery {
  display: flex;
}

.news-gallery>* {
  border: 1px solid #ccc;
  height: 250px;
  flex: 1;
}

/* Footer */
footer {
  display: flex;
}

footer>* {
  border: 1px solid #ccc;
  height: 120px;
}

.footer-logo {
  width: 200px;
}

.footer-contents {
  flex: 1;
}

.family-site {
  width: 230px;
}

.footer-contents>* {
  height: 60px;
  border: 1px solid #ccc;
}